<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml"
       xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" type="text/css" href="/home.css">
</head>
<body>
    <h1 id="result-keyword-heading">Search results</h1>
    <script>
        let searchResultKeyword = window.location.search
        let searchResultKeywordResult = searchResultKeyword.replace(/.*=/, '');
        console.log(searchResultKeywordResult)
        let target = document.getElementById("result-keyword-heading");
        target.innerText = `Search results for "${searchResultKeywordResult}"`
    </script>


    <div class="search-container">
        <form action="http://localhost:8080/recipes/search" method="get">
            <label>
                <input class="search-input" name="keyword" type="text" placeholder="Search for recipes">
            </label>
            <button class="search-button" type="submit">Search</button>

        </form>


    </div>


    <div id="filters">
        <form action="http://localhost:8080/recipes/cost" method="get">
            <label for="filter">Filter by Category:</label>
            <select id="filter" name="category">
                <option value="LOW">Low</option>
                <option value="MODERATE">Moderate</option>
                <option value="PRICEY">Pricey</option>
                <!-- Add more options as needed -->
            </select>
            <button type="submit">Apply Filter</button>
        </form>

        <form action="http://localhost:8080/recipes/cuisine" method="get">
            <label for="cuisine">Cuisine:</label>
            <select id="cuisine" name="cuisine">
                <option value="FRENCH">French</option>
                <option value="ITALIAN">Italian</option>
                <option value="GREEK">Greek</option>
                <option value="SPANISH">Spanish</option>
                <option value="INDIAN">Indian</option>
                <option value="AMERICAN">American</option>
                <option value="INTERNATIONAL">International</option>
                <option value="MEDITERRANEAN">Mediterranean</option>
                <option value="MEXICAN">Mexican</option>
                <option value="ASIAN">Asian</option>
                <option value="BRITISH">British</option>
                <option value="THAI">Thai</option>
            </select>
            <button type="submit">Apply Filter</button>
        </form>

        <form action="http://localhost:8080/recipes/spice_level" method="get">
            <label for="spice_level">Spicy Level:</label>
            <select id="spice_level" name="spice_level">
                <option value="NONE">None</option>
                <option value="MILD">Mild</option>
                <option value="MEDIUM">Medium</option>
                <option value="SPICY">Spicy</option>
                <!-- Add more options as needed -->
            </select>
            <button type="submit">Apply Filter</button>
        </form>

        <form action="http://localhost:8080/recipes/meal_type" method="get">
            <label for="meal_type">Meal Type:</label>
            <select id="meal_type" name="meal_type">
                <option value="BREAKFAST">Breakfast</option>
                <option value="LUNCH">Lunch</option>
                <option value="DINNER">Dinner</option>
                <!-- Add more options as needed -->
            </select>
            <button type="submit">Apply Filter</button>
        </form>

        <form action="http://localhost:8080/recipes/difficulty" method="get">
            <label for="difficulty">Difficult Level:</label>
            <select id="difficulty" name="difficulty">
                <option value="EASY">Easy</option>
                <option value="MODERATE">Moderate</option>
                <option value="HIGH">High</option>
                <!-- Add more options as needed -->
            </select>
            <button type="submit">Apply Filter</button>
        </form>




    </div>



<div id="recipes" class="item-container">
    <script>

            let keyword = window.location.search
            let result = keyword.replace(/.*=/, '');
            console.log(result)

            fetch(`http://localhost:8080/api/recipes/search/name/${result}`)
                .then(response => response.json())
                .then(data => {
                    let recipesTarget = document.getElementById('recipes')

                    if (data.length > 0) {
                        console.log(data.length);
                        for (let i = 0; i < data.length; i++) {

                            let link = document.createElement("a")
                            link.href = `http://localhost:8080/recipes/${data[i].id}`
                            console.log(data[i].name)

                            link.id =`item-link${data[i].name}`
                            recipesTarget.appendChild(link)
                            let div = document.createElement("div");
                            div.className = "individual-items"
                            div.id = "specific-item"
                            div.innerHTML = data[i].name
                            let target2 = document.getElementById(`item-link${data[i].name}`)
                            target2.appendChild(div);
                        }

                    }

                    else
                    recipesTarget.innerText = "Sorry no items found for your search result"


                })
                .catch(error => {
                    console.error("Error fetching data:", error)

                })



    </script>


</div>
    </body>
</html>

